@using CarTracker.WebMvcApp.ViewModels
@model IEnumerable<CarTracker.WebMvcApp.Entities.Car>

<h1>Cars</h1>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Model</td>
            <td>Nickname</td>
            <td>Color</td>
            <td>Brand</td>
            <td>Bought Time</td>
            <td>Fuel Type</td>
            <td>Owner</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var cars in Model)
        {
            <tr>
                <td>@cars.Id</td>
                <td>@cars.Model</td>
                <td>@cars.Nickname</td>
                <td>@cars.Color</td>
                <td>@cars.Brand</td>
                <td>@cars.BoughtTime</td>
                <td>@cars.FuelType</td>
                <td>@cars.Owner</td>
            </tr>	
        }
    </tbody>
</table>